1 VERSIONINFO
FILEVERSION      1,0,0,0
PRODUCTVERSION   1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "Tool to do bad things to font tags"
            VALUE "CompanyName",      "<3"
            VALUE "FileDescription",  "Tool to do bad things to font tags"
            VALUE "FileVersion",      "1.0.0"
            VALUE "InternalName",     "font-slicer"
            VALUE "OriginalFilename", "font-slicer.exe"
            VALUE "ProductName",      "Font Slicer"
            VALUE "ProductVersion",   "1.0.0"
            VALUE "LegalCopyright",   "\xA9 2025 Aerocatia"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
